<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- XML beans -->
    
    <!-- включает аннотации -->
    <context:annotation-config/>

    <!-- сканирует компоненты -->
    <context:component-scan base-package="com.example"/>

    <bean id="starter" class="lesson_N4.Starter"/>
    <bean id="sparkPlug" class="lesson_N4.SparkPlug"/>
    <!-- <bean id="accumulator" class="lesson_N4.Accumulator"/>
    <bean id="suspension" class="lesson_N4.Suspension"/> -->

    <bean id="engine" class="lesson_N4.Engine">
        <constructor-arg ref="starter"/>
        <constructor-arg ref="sparkPlug"/>
    </bean>

    <context:component-scan base-package="lesson_N4"/>

   


</beans>